.column {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
}

.opacity-50 {
  opacity: 0.5;
}

.opacity-20 {
  opacity: 0.2;
}

.invisible {
  opacity: 0;
}

.nearest-neighbor {
  image-rendering: pixelated;
}

.unselectable {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}
